<div class="container">
  <form>
<table border="0" width="100%">
  <tr>
    <td align="center">
      <table>

        <tr >
          <td colspan="3">
            <h1><b>Bowling System Registration:</b></h1>
          </td>
        </tr>
        <tr>
          <td>
            First Name :
          </td>
          <td>
            <input type="text" id="firstName" name="firstName" #firstName="ngModel" [(ngModel)]="userAccount.firstName"  placeholder="Enter first name here" required>
          </td>
          <td>
            <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)" >
              <div [hidden]="!firstName.errors.required" class="errorValidation">
                First Name is required!
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            Last Name :
          </td>
          <td>
            <input type="text" id="lastName"  name="lastName" #lastName="ngModel" [(ngModel)]="userAccount.lastName"  placeholder="Enter last name here" required>
          </td>
          <td>
            <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)" >
              <div [hidden]="!lastName.errors.required" class="errorValidation">
                Last Name is required!
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            Birth Date :
          </td>
          <td>
            <input type="date" id="birthDate" name="birthDate" #birthDate="ngModel" [(ngModel)]="userAccount.birthDate"  placeholder="Enter birth date here" required>
          </td>
          <td>
            <div *ngIf="birthDate.errors && (birthDate.dirty || birthDate.touched)" >
              <div [hidden]="!birthDate.errors.required" class="errorValidation">
                Birth Date is required!
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            Email :
          </td>
          <td>
            <input type="email" id="email" name="email" #email="ngModel" [(ngModel)]="userAccount.email" placeholder="Enter email here" required>
          </td>
          <td>
            <div *ngIf="email.errors && (email.dirty || email.touched)" >
              <div [hidden]="!email.errors.required" class="errorValidation">
                Email is required!
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            Phone Number :
          </td>
          <td>
            <input type="text" id="phoneNumber" name="phoneNumber" #phoneNumber="ngModel" [(ngModel)]="userAccount.phoneNumber" placeholder="Enter phone # here" required>
          </td>
          <td>
            <div *ngIf="phoneNumber.errors && (phoneNumber.dirty || phoneNumber.touched)" >
              <div [hidden]="!phoneNumber.errors.required" class="errorValidation">
                Phone Number is required!
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            User ID :
          </td>
          <td>
            <input type="text" id="userId" name="userId" #userId="ngModel" [(ngModel)]="userAccount.userId"  placeholder="Enter User ID here" required>
          </td>
          <td>
            <div *ngIf="userId.errors && (userId.dirty || userId.touched)" >
              <div [hidden]="!userId.errors.required" class="errorValidation">
                User ID is required!
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            Password :
          </td>
          <td>
            <input type="password" id="password" name="password" #password="ngModel" [(ngModel)]="userAccount.password" placeholder="Enter password here" required>
          </td>
          <td>
            <div *ngIf="password.errors && (password.dirty || password.touched)" >
              <div [hidden]="!password.errors.required" class="errorValidation">
                Password is required!
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td align="center"  colspan="2">
            <button (click)="submit()" type="button">Submit</button>

            <button (click)="clear()" type="button">Clear</button>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
  </form>
</div>
